.login-form {
  width: 400px;
  background: #a57fc7;
  padding: 30px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #fff;
  margin-bottom: 2px;
}

.form-group input[type="email"] {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.form-group input[type="password"] {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.main {
  display: grid;
  place-items: center;
  height: 100vh;
}
button {
  padding:  8px 18px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}
